In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import yahoo_fin.stock_info as si

In [3]:
tickers = ['FB', 'AMZN','AAPL', 'MSFT', 'NFLX', 'GOOGL']
mydata = pd.DataFrame()
for t in tickers:
    mydata[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [5]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2354 entries, 2012-05-18 to 2021-09-24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FB      2354 non-null   float64
 1   AMZN    2354 non-null   float64
 2   MSFT    2354 non-null   float64
 3   NFLX    2354 non-null   float64
 4   GOOGL   2354 non-null   float64
dtypes: float64(5)
memory usage: 110.3 KB

In [6]:
mydata.head()

                   FB        AMZN       MSFT       NFLX       GOOGL
Date
2012-05-18  38.230000  213.850006  24.047728   9.994286  300.500488
2012-05-21  34.029999  218.110001  24.442087  10.248571  307.362366
2012-05-22  31.000000  215.330002  24.450296   9.672857  300.700714
2012-05-23  32.000000  217.279999  23.916271  10.272857  305.035034
2012-05-24  33.029999  215.240005  23.883410  10.038571  302.132141

In [7]:
mydata.tail()

                    FB         AMZN        MSFT        NFLX        GOOGL
Date
2021-09-20  355.700012  3355.729980  294.299988  575.429993  2774.389893
2021-09-21  357.480011  3343.629883  294.799988  573.140015  2780.659912
2021-09-22  343.209991  3380.050049  298.579987  590.650024  2805.669922
2021-09-23  345.959991  3416.000000  299.559998  593.260010  2824.320068
2021-09-24  352.959991  3425.520020  299.350006  592.390015  2844.300049