In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [3]:
tickers = ['AAPL', 'ERUS']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2014-1-1')['Adj Close']

In [4]:
sec_data.head()

                 AAPL       ERUS
Date
2014-01-02  17.542171  30.153418
2014-01-03  17.156845  29.982340
2014-01-06  17.250404  29.397804
2014-01-07  17.127031  29.526114
2014-01-08  17.235489  29.440571

In [5]:
returns = np.log(sec_data / sec_data.shift(1))
returns

                AAPL      ERUS
Date
2014-01-02       NaN       NaN
2014-01-03 -0.022211 -0.005690
2014-01-06  0.005438 -0.019689
2014-01-07 -0.007178  0.004355
2014-01-08  0.006313 -0.002901
...              ...       ...
2021-10-11 -0.000630  0.009647
2021-10-12 -0.009145 -0.003336
2021-10-13 -0.004249 -0.002756
2021-10-14  0.020024  0.009613
2021-10-15  0.007484  0.008360

[1962 rows x 2 columns]

In [6]:
#Annual Return
returns[['AAPL', 'ERUS']].mean() * 250

AAPL    0.269126
ERUS    0.068612
dtype: float64

In [7]:
#Annual Standard Deviation
returns[['AAPL', 'ERUS']].std() * 250 ** 0.5

AAPL    0.281931
ERUS    0.336931
dtype: float64

In [8]:
# Positive covariance dictates a strength in directional relationship
# Negative covariance dictates a strength in an inverse directional relationship
cov_matrix = returns.cov()
cov_matrix

          AAPL      ERUS
AAPL  0.000318  0.000144
ERUS  0.000144  0.000454

In [9]:
# Annual Covariance Matrix
cov_matrix_a = returns.cov() * 250
cov_matrix_a

          AAPL      ERUS
AAPL  0.079485  0.036018
ERUS  0.036018  0.113523

In [10]:
#Correlation Matrix
corr_matrix = returns.corr()
corr_matrix

          AAPL      ERUS
AAPL  1.000000  0.379177
ERUS  0.379177  1.000000

In [11]:
#Hypothetical portfolio weight
weights = np.array([0.5, 0.5])

In [12]:
weights[0]

0.5

In [13]:
weights[1]

0.5

In [14]:
#Portfolio variance
pfolio_var = np.dot(weights.T, np.dot(returns.cov() * 250, weights))
pfolio_var

0.06626110841947895

In [15]:
#Portfolio volatility percentage
pfolio_vol = (np.dot(weights.T, np.dot(returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.25741233152178034

In [16]:
#AAPL variance
AAPL_var_a = returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.079485
dtype: float64

In [25]:
#Bug Fix
AAPL_var_a = returns['AAPL'].var() * 250
AAPL_var_a

0.07948489007955717

In [17]:
#ERUS variance
ERUS_var_a = returns[['ERUS']].var() * 250
ERUS_var_a

ERUS    0.113523
dtype: float64

In [24]:
ERUS_var_a = returns['ERUS'].var() * 250
ERUS_var_a

0.11352258056608448

In [26]:
#Diversifiable Risk with issue
dr = pfolio_var - (weights[0] ** 2 * ERUS_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.018009240758068534

In [27]:
#Non-Diversifiable Risk
n_dr_1 = pfolio_var - dr
n_dr_1

0.048251867661410416

In [28]:
n_dr_2 = (weights[0] ** 2 * AAPL_var_a)+ (weights[1]** 2 * ERUS_var_a)
n_dr_2

0.048251867661410416

In [29]:
n_dr_1 == n_dr_2

True