In [8]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [9]:
tickers = ['AAPL', 'MSFT']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start= '2007-1-1')['Adj Close']

In [10]:
sec_data.tail()

                  AAPL        MSFT
Date
2021-09-28  141.910004  283.519989
2021-09-29  142.830002  284.000000
2021-09-30  141.500000  281.920013
2021-10-01  142.649994  289.100006
2021-10-04  139.139999  283.109985

In [11]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                AAPL      MSFT
Date
2007-01-03       NaN       NaN
2007-01-04  0.021953 -0.001676
2007-01-05 -0.007147 -0.005719
2007-01-08  0.004926  0.009737
2007-01-09  0.079799  0.001002
...              ...       ...
2021-09-28 -0.024089 -0.036875
2021-09-29  0.006462  0.001692
2021-09-30 -0.009355 -0.007351
2021-10-01  0.008094  0.025149
2021-10-04 -0.024913 -0.020937

[3715 rows x 2 columns]

In [12]:
#Apple simple return, annualized return, standard deviation, and annualized standard deviation |multiply by trading days|
#and |result to the power of 0.5|
sec_returns['AAPL'].mean()

0.0010747672115686917

In [13]:
#Annual Return
sec_returns['AAPL'].mean() * 250

0.2686918028921729

In [14]:
#Standard Deviation
sec_returns['AAPL'].std()

0.020342390460343016

In [15]:
#Annual Standard Deviation
sec_returns['AAPL'].std() * 250 ** 0.5

0.32164143453582533

In [16]:
#Microsoft simple return, annualized return, standard deviation, and annualized standard deviation |multiply by trading days|
#and |result to the power of 0.5|
sec_returns['MSFT'].mean()

0.0006894817450588829

In [17]:
#Annual Return
sec_returns['MSFT'].mean() * 250

0.17237043626472073

In [18]:
#Standard Deviation
sec_returns['MSFT'].std()

0.017697108473671133

In [19]:
#Annual Standard deviation
sec_returns['MSFT'].std() * 250 ** 0.5

0.2798158538793337

In [22]:
#Returning Simple Returns Method 2
print (sec_returns['AAPL'].mean() * 250)
print (sec_returns['MSFT'].mean() * 250)

0.2686918028921729
0.17237043626472073

In [23]:
#Returning Simple Returns Method 3
sec_returns[['AAPL', 'MSFT']].mean() * 250

AAPL    0.268692
MSFT    0.172370
dtype: float64

In [24]:
#Returning Annual Standard Deviations Method 2
sec_returns[['AAPL', 'MSFT']].std() * 250 ** 0.5

AAPL    0.321641
MSFT    0.279816
dtype: float64